In [23]:
import sqlite3
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set()
pd.set_option('display.max_columns', None)

In [24]:
#Conexao a db
database = 'database.sqlite'
con = sqlite3.connect(database)

In [25]:
#Get main tables from db
countries = pd.read_sql_query("SELECT * from Country", con)
matches = pd.read_sql_query("SELECT * from Match", con)
leagues = pd.read_sql_query("SELECT * from League", con)
teams = pd.read_sql_query("SELECT * from Team", con)
teams_att = pd.read_sql_query("SELECT * FROM Team_Attributes", con)
player_att = pd.read_sql_query("Select * from Player_Attributes", con)

In [26]:
#Replace league_id for its name to make it easier to analyse the data.
league_id_map = leagues.set_index('id').to_dict()['name']
matches['league_id'] = matches['league_id'].map(league_id_map)

#Replace country_id for its name.
country_id_map = countries.set_index('id').to_dict()['name']
matches['country_id'] = matches['country_id'].map(country_id_map)

#Replace team_id for its name.
team_id_map = teams.set_index('team_api_id').to_dict()['team_long_name']
matches['home_team_api_id'] = matches['home_team_api_id'].map(team_id_map)
matches['away_team_api_id'] = matches['away_team_api_id'].map(team_id_map)

In [27]:
# Goals avg per league
avg_goals_league = matches[['league_id','home_team_goal','away_team_goal']].groupby('league_id').mean()


total_goals = avg_goals_league.home_team_goal + avg_goals_league.away_team_goal

avg_goals_league.home_team_goal = avg_goals_league.home_team_goal / total_goals * 100
avg_goals_league.away_team_goal = avg_goals_league.away_team_goal / total_goals * 100

avg_goals_league

# Conclusion: home teams have advantage

                          home_team_goal  away_team_goal
league_id
Belgium Jupiler League         57.446809       42.553191
England Premier League         57.220874       42.779126
France Ligue 1                 57.425609       42.574391
Germany 1. Bundesliga          56.060819       43.939181
Italy Serie A                  57.352755       42.647245
Netherlands Eredivisie         57.769822       42.230178
Poland Ekstraklasa             57.517182       42.482818
Portugal Liga ZON Sagres       55.566237       44.433763
Scotland Premier League        54.267277       45.732723
Spain LIGA BBVA                58.951498       41.048502
Switzerland Super League       56.769083       43.230917

In [28]:
# Home win 

goals_per_match = matches[['home_team_goal','away_team_goal']]
wins = 0
draws = 0

for index, row in goals_per_match.iterrows():
    if row['home_team_goal'] > row['away_team_goal']:
        wins += 1
    if row['home_team_goal'] == row['away_team_goal']:
        draws += 1
        

total_matches = len(goals_per_match)
loss = total_matches - wins - draws

percs = [wins/total_matches*100,draws/total_matches*100, loss/total_matches*100]
percs

#Conclusion : this confirms that "home team wins about 46% of the time"

[45.87166557604219, 25.389737865198814, 28.738596558759]

In [29]:
#Cleaning matches
matches_df = pd.read_sql("""SELECT * from MATCH""", con)
teams_df = pd.read_sql("""SELECT * from TEAM""", con)
player_attributes_df = pd.read_sql("""SELECT * from PLAYER_ATTRIBUTES""", con)

matches_df['date'] = pd.to_datetime(matches_df['date'], format='%Y-%m-%d')

home_players = ["home_player_" + str(x) for x in range(1, 12)]
away_players = ["away_player_" + str(x) for x in range(1, 12)]

matches_kept_columns = ["id", "date", "home_team_api_id", "away_team_api_id", "home_team_goal", "away_team_goal"]
matches_kept_columns = matches_kept_columns + home_players
matches_kept_columns = matches_kept_columns + away_players

matches_df = matches_df[matches_kept_columns]

matches_df['game_status'] = 0
matches_df['game_status'] = np.where(matches_df['home_team_goal'] > matches_df['away_team_goal'] , '1', matches_df['game_status'])
matches_df['game_status'] = np.where(matches_df['home_team_goal'] < matches_df['away_team_goal'], '-1', matches_df['game_status'])

for player in home_players:
    matches_df = pd.merge(matches_df, player_attributes_df[["id", "overall_rating"]], left_on=[player], right_on=["id"], suffixes=["", "_" + player])
for player in away_players:
    matches_df = pd.merge(matches_df, player_attributes_df[["id", "overall_rating"]], left_on=[player], right_on=["id"], suffixes=["", "_" + player])
    
matches_df = matches_df.rename(columns={"overall_rating": "overall_rating_home_player_1"})

matches_df = matches_df[ matches_df[['overall_rating_' + p for p in home_players]].isnull().sum(axis = 1) <= 0]
matches_df = matches_df[ matches_df[['overall_rating_' + p for p in away_players]].isnull().sum(axis = 1) <= 0]

matches_df['overall_rating_home'] = matches_df[['overall_rating_' + p for p in home_players]].sum(axis=1)
matches_df['overall_rating_away'] = matches_df[['overall_rating_' + p for p in away_players]].sum(axis=1)
matches_df['overall_rating_difference'] = matches_df['overall_rating_home'] - matches_df['overall_rating_away']

matches_df['mean_overall_rating_home'] = matches_df[['overall_rating_' + p for p in home_players]].mean(axis=1)
matches_df['mean_overall_rating_away'] = matches_df[['overall_rating_' + p for p in away_players]].mean(axis=1)

for c in matches_df.columns:
    if '_player_' in c:
        matches_df = matches_df.drop(c, axis=1)
        
#Replace team_id for its name.
team_id_map = teams_df.set_index('team_api_id').to_dict()['team_long_name']
matches_df['home_team_api_id'] = matches_df['home_team_api_id'].map(team_id_map)
matches_df['away_team_api_id'] = matches_df['away_team_api_id'].map(team_id_map)
matches_df

,id,date,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal,game_status,overall_rating_home,overall_rating_away,overall_rating_difference,mean_overall_rating_home,mean_overall_rating_away
0,8227,2010-01-30,Hertha BSC Berlin,VfL Bochum,0,0,0,746.0,783.0,-37.0,67.818182,71.181818
1,8152,2009-11-22,Hamburger SV,VfL Bochum,0,1,-1,772.0,790.0,-18.0,70.181818,71.818182
4,8010,2008-08-30,FC Schalke 04,VfL Bochum,1,0,1,733.0,770.0,-37.0,66.636364,70.000000
5,8195,2009-12-19,Hannover 96,VfL Bochum,2,3,-1,809.0,778.0,31.0,73.545455,70.727273
6,8029,2009-05-09,Hertha BSC Berlin,VfL Bochum,2,0,1,763.0,791.0,-28.0,69.363636,71.909091
...,...,...,...,...,...,...,...,...,...,...,...,...
6536,14312,2012-02-11,Roda JC Kerkrade,N.E.C.,1,0,1,764.0,772.0,-8.0,69.454545,70.181818
6537,20738,2012-08-19,Dundee United,Dundee FC,3,0,1,772.0,780.0,-8.0,70.181818,70.909091
6538,20577,2011-08-20,Dundee United,Dunfermline Athletic,0,1,-1,755.0,720.0,35.0,68.636364,65.454545
6539,17958,2010-02-07,Rio Ave FC,Leixões SC,2,0,1,752.0,779.0,-27.0,68.363636,70.818182
6541,13857,2009-09-13,Sparta Rotterdam,RKC Waalwijk,1,0,1,737.0,736.0,1.0,67.000000,66.909091

In [30]:
pd.read_sql("""SELECT IWD, IWA, LBH, LBD, LBA, PSH, PSD, PSA,
WHH,
WHD,
WHA,
SJH,
SJD,
SJA,
VCH,
VCD,
VCA,
GBH,
GBD,
GBA,
BSH,
BSD,
BSA from MATCH WHERE NOT IWD='NaN'""", con)

,IWD,IWA,LBH,LBD,LBA,PSH,PSD,PSA,WHH,WHD,WHA,SJH,SJD,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA
0,3.2,3.50,1.80,3.30,3.75,NaN,NaN,NaN,1.70,3.30,4.33,1.90,3.3,4.00,1.65,3.40,4.50,1.78,3.25,4.00,1.73,3.40,4.20
1,3.2,3.50,1.90,3.20,3.50,NaN,NaN,NaN,1.83,3.30,3.60,1.95,3.3,3.80,2.00,3.25,3.25,1.85,3.25,3.75,1.91,3.25,3.60
2,3.1,2.30,2.50,3.20,2.50,NaN,NaN,NaN,2.50,3.25,2.40,2.63,3.3,2.50,2.35,3.25,2.65,2.50,3.20,2.50,2.30,3.20,2.75
3,3.9,6.00,1.44,3.60,6.50,NaN,NaN,NaN,1.44,3.75,6.00,1.44,4.0,7.50,1.45,3.75,6.50,1.50,3.75,5.50,1.44,3.75,6.50
4,3.3,1.70,4.00,3.40,1.72,NaN,NaN,NaN,4.20,3.40,1.70,4.50,3.5,1.73,4.50,3.40,1.65,4.50,3.50,1.65,4.75,3.30,1.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22515,3.7,4.90,1.57,3.75,6.50,1.58,4.05,7.06,1.62,3.30,7.00,NaN,NaN,NaN,1.57,4.00,7.00,NaN,NaN,NaN,NaN,NaN,NaN
22516,3.2,3.20,2.25,3.20,3.25,2.36,3.36,3.36,2.38,3.10,3.10,NaN,NaN,NaN,2.30,3.40,3.40,NaN,NaN,NaN,NaN,NaN,NaN
22517,3.7,5.40,1.50,4.00,6.50,1.55,4.31,6.95,1.57,3.50,7.00,NaN,NaN,NaN,1.55,4.20,7.00,NaN,NaN,NaN,NaN,NaN,NaN
22518,3.3,2.75,2.30,3.20,3.10,2.34,3.40,3.35,2.40,3.10,3.10,NaN,NaN,NaN,2.30,3.40,3.30,NaN,NaN,NaN,NaN,NaN,NaN
22519,3.3,2.90,2.10,3.40,3.30,2.20,3.61,3.46,2.20,3.40,3.20,NaN,NaN,NaN,2.20,3.60,3.50,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
#trying to get history,last 5 games**********

match_t = pd.read_sql_query("select home_team_api_id, date, home_team_goal, away_team_goal from Match",con)
#match_t['date'] = pd.to_datetime(matches_df['date'], format='%Y-%m-%d')
match_t['date'] = pd.to_datetime(match_t['date']) 
mat = match_t[(match_t['date'] < '2014-6-1')]
mat = mat[mat['home_team_api_id'] == 10000]
mat.sort_values(by=['date'], inplace=True, ascending=False) 
mat.head(5)

      home_team_api_id       date  home_team_goal  away_team_goal
1166             10000 2013-03-09               1               2
1150             10000 2013-02-16               2               0
1128             10000 2013-01-26               2               0
1112             10000 2012-12-26               2               1
1095             10000 2012-12-16               3               2